:root {
    --orange: #F54748;
    --yellow: #FFA41C;
    --yellow80: #FFA41C10;
    --gray: #2E2E32;
    --font2: 'Lobster';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: var(--gray);
}

body, html {
    font-family: 'Montserrat', sans-serif;
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--gray-2);
}

html {
    @media (max-width: 1080px){
        font-size: 93.75%;
    } 
    @media (max-width: 720px){
        font-size: 87.5%;
    }

    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 4px;
}